html {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  color: white;
}

body {
  margin: 0;
  color: white;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
  height: 100vh;
  text-align: center;
}

.logo {
  display: block;
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 10% 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./assets/images/logo-universal.png");
  background-size: 100% 100%;
  background-origin: content-box;
}
.result {
  height: 20px;
  line-height: 20px;
  margin: 1.5rem auto;
}
.input-box .btn {
  width: 60px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  border: none;
  margin: 0 0 0 20px;
  padding: 0 8px;
  cursor: pointer;
}
.input-box .btn:hover {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #333333;
}

.input-box .input {
  border: none;
  border-radius: 3px;
  outline: none;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background-color: rgba(240, 240, 240, 1);
  -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

/* Hover effect */
.icon:hover {
  width: 84px; /* Increase size */
  height: 84px; /* Increase size */
}

.icon-container {
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}

.icon-container.bounce {
  animation: bounce 0.5s ease;
}

.icon-container.running::before {
  content: "";
  position: absolute;
  left: -8px;  /* Move outside the left side */
  top: 50%;
  transform: translateY(-50%);
  width: 6px;  /* Dot size */
  height: 6px;
  background-color: blue;
  border-radius: 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}



